* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

html, body {
  height: 100vh;
}

.wrapper {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: auto 100px;
} 

/* .column {
  flex: 30%;
  flex-direction: column;
} */

h1 {
  font-weight: 600;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 65px;
}

.column-1 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.column-1__info {
  width: 50%;
  margin-bottom: 28px;
}

.info-images {
  size: 30px 30px;
  margin-bottom: 7px;
}

.column-1__info-category {
  color: #FFFFFF4D;
}

h2 {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  opacity: 0.9;
}

p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}

.tech-bar__text {
  margin-bottom: 1px;
  color: #FFFFFF;
  opacity: 0.8;
}

.tech-bar__text p {
  color: #FFFFFF;
  opacity: 0.8;
}

.tech-bar__line {
  height: 7px;
  width: 100%;
  background-color: #FFFFFF4D;
  position: relative;
  border-radius: 10px;
  margin-bottom: 17px;
}

.tech-bar__line::before {
  content: '';
  position: absolute;
  display: block;
  height: 7px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.media::before {
  width: 20%;
}

.internet::before, .shopping::before {
  width: 50%;
}

.column-2__text {
  margin-bottom: 50px;
}

.column-2__lists {
  margin-bottom: 45px;
  /* padding-left: 14px; */
  /* text-indent: 0%; */
  /* list-style-position: inside; */
  list-style-type: none;
  opacity: 0.8;
}

.column-2__lists > .column-2__list {
  position: relative;
  padding-left: 12px;
}

.column-2__lists > .column-2__list::before {
  content: "•";
  position: absolute;
  left: 0;
}