* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: auto 100px;
}

h1 {
  font-weight: 600;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 65px;
}

.column-1 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}

.column-1__info {
  width: 45%;
  margin-bottom: 28px;
}

.info-images {
  size: 30px 30px;
  margin-bottom: 7px;
}

.column-1__info-category {
  color: #FFFFFF4D;
}

.column-1__info-desc {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h2 {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  opacity: 0.9;
}

p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}

.tech-bar__text {
  margin-bottom: 1px;
  color: #FFFFFF;
  opacity: 0.8;
}

.tech-bar__text p {
  color: #FFFFFF;
  opacity: 0.8;
}

.tech-bar__line {
  height: 7px;
  width: 100%;
  background-color: #FFFFFF4D;
  position: relative;
  border-radius: 10px;
  margin-bottom: 17px;
}

.tech-bar__line::before {
  content: '';
  position: absolute;
  display: block;
  height: 7px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.media::before {
  width: 20%;
}

.internet::before, .shopping::before {
  width: 50%;
}

.column-2__text {
  margin-bottom: 50px;
}

.column-2__lists {
  margin-bottom: 45px;
  list-style-type: none;
  opacity: 0.8;
}

.column-2__list {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 10px;
}

.column-2__lists > .column-2__list {
  position: relative;
  padding-left: 12px;
}

.column-2__lists > .column-2__list::before {
  content: "•";
  position: absolute;
  left: 0;
}

.column-2__pain-points .column-2__text {
  margin-bottom: 0;
}

.column-3__quote {
  position: relative;
}

.column-3__quote-text {
  position: absolute;
  bottom: 80px;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  padding-left: 47px;
  padding-right: 50px;
}

.column-3__quote-text::before {
  content: '“';
  position: absolute;
  left: 35px;
}

.column-3__quote-text::after {
  content: '”';
}

@media (max-width: 1480px) {
  .wrapper {
    margin: auto 30px;
  }
}

@media (max-width: 1360px) {
  .wrapper {
    gap: 35px;
  }
  h1 {
    font-size: 60px;
  }
  .column-2__text {
    margin-bottom: 20px;
  }
  .column-2__lists {
    margin-bottom: 20px;
  }
}

@media (max-width: 1206px) {
  .column-3__image{
    width: 350px;
  }

  .column-3__quote-text {
    font-size: 22px;
    line-height: 27px;
  }
}

@media (max-width: 1096px) {
  .wrapper {
    grid-template-columns: 300px 1fr 250px;
  }
  h1 {
    font-size: 50px;
  }
  .column-3__image {
    width: 250px;
    height: 600px;
  }
}

@media (max-width: 975px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    margin: 60px;
    align-items: center;
  }
  h1 {
    font-size: 65px;
  }
  .column-2__text {
    margin-bottom: 40px;
  }
  .column-2__lists {
    margin-bottom: 40px;
  }
  .column-3__image {
    width: inherit;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  .column-3__quote-text {
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
  }
  .column-3__quote-text::before {
    left: -10px;
  }
}

@media (max-width: 550px) {
  .column-3__image {
    width: 100%;
  }
  .column-3__quote-text {
    bottom: 50px;
  } 
}

@media (max-width: 360px) {
  h1 {
    font-size: 50px;
  }
}